.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  padding: 16px;
  background-color: #fff;
}

.image {
  height: auto;
  width: auto;
  max-width: 80vw;
  max-height: 80vh;
}
